@import "./partials/_variables.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed&family=Lato&family=Raleway&display=swap');

body {
    font-family: 'Fira Sans Condensed', sans-serif;
}

header {
    height: 100px;
}

.container {
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    display: flex;
    li{
        line-height: 100px;
    }
        a{
        display: flex;
        text-decoration: none;
        color: black;
        padding: 15px; 
        }
        :hover{
            border-bottom: 1px solid #0074e8;
        }
        :hover a {
            color: #0074e8;
        }
}

main{
    background-color: rgb(28,28,28);
    color: white;
    height: 100px;
}

.Links {
    background-color: rgb(2,130,249);
    div{
        div{
            img{
                height: 50px;
            }
            a{
                color: white;
                text-decoration: none;
                padding-left: 1rem;
            }
        }
    }
}
